.iqdropdown {

	height: 44px;
	min-width: 266px;
	background-color: #fff;
	border: 1px solid $DarkShade25;
	padding: 0 44px 0 15px;

	&::after {
	    content: '';
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 44px;
	    height: 44px;
	    background: url("../../components/dropdown/dropdown_expand_more.svg");
		background-repeat: no-repeat;
		background-position: right 1.2em top 50%, 0 0;
		background-size: 0.9em;
   }

   &_bottom160 {
   	margin-bottom: 160px;
   }

	& .iqdropdown-selection {

		text-overflow: ellipsis;
		max-width: 185px;
		overflow: hidden;
		white-space: nowrap;

		&::after {
			content: none;
		}
	}

	&-item {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
	}

	& .iqdropdown-menu {
		margin: -8px -1px 0px -1px;

		background: #FFFFFF;
		border: 1px solid $DarkShade50;
		box-sizing: border-box;
		border-radius: 0 0 2px 2px;

		&_buttonspace {
			padding-bottom: 50px;			
		}
	}


	&.menu-open {
		background-color: #fff;
		border: 1px solid $DarkShade50;
		border-radius: 4px 4px 0 0;
		
		&::after {
			transform: rotate(180deg);
		}
	}

	& .iqdropdown-menu-option {
		height: 35px;
		padding-right: 7px;
	}

	& .iqdropdown-item-controls {
		height: 30px;
	}

	& .iqdropdown-item-controls button.button-increment,
	& .iqdropdown-item-controls button.button-decrement {
		border: 1px solid $DarkShade25;
		box-sizing: border-box;
		border-radius: 50%;
		padding: 11px;
		height: 30px;
	}

	& .icon-decrement.icon-increment,
	& .icon-decrement {
		height: 8px;
		width: 8px;
		min-width: 0px;
		
		&:after,
		&:before {
			background-color: $DarkShade50;
			position: absolute;
			height: 1px;
			width: 8px;
			top: 2px;
		}

	}

	& .iqdropdown-item-controls .counter {
		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		text-transform: uppercase;
		color: $DarkShade100;
		border: none;
		padding: 4px 0px;
		flex-basis: 32px;
		width: 32px;
		text-align: center;
	}
}