mixin createDropdown(	arrDropdownItems	)
	-
		var classname = "iqdropdown"
		var textClassname = classname + "-selection"

	div(class = classname + " js-" + classname)

		p(class = textClassname + " js-" + textClassname)

		div(class = classname + "-menu")

			each item in arrDropdownItems

				div(class = classname + "-menu-option" data-id=item.dataId)
					div
						p(class = classname + "-item")= item.name
						




