mixin createDropdown(	dropdownName, arrDropdownItems	)
	-
		var classname = "iqdropdown"

	div(class=classname + " " + dropdownName)

		p(class = classname + "-selection")

		div(class = classname + "-menu")

			each item in arrDropdownItems

				div(class = classname + "-menu-option" data-id=item.dataId)
					div
						p(class = classname + "-item")= item.name
						




