mixin createDropdown(	arrDropdownItems	)
	-
		let classname = "iqdropdown";
		let classnameJS = ' js-' + classname;

	div(class = classname + " js-" + classname)

		p(class = classname + "-selection" + classnameJS + "-selection")

		div(class = classname + "-menu")

			each item in arrDropdownItems

				div(class = classname + "-menu-option" data-id=item.dataId)
					div
						p(class = classname + "-item")= item.name
						




