.all-nav{

	display: flex;
	flex-wrap: wrap;

	&__group{
		flex-grow: 1;
		padding-left: 20px;
	}

	&__link {
		font-size: 14px;
		line-height: 17px;
		color: $DarkShade50;

		&:hover,
		&:active {
			color: $DarkShade75;
		}
	}
}