.column-menu{
	padding-left: 30px;
	padding-right: 10px;

	&__link {
		font-size: 14px;
		line-height: 17px;
		color: $DarkShade50;

		&:hover,
		&:active {
			color: $DarkShade75;
		}
	}
}