//- create button  a>span

mixin createSiteButton(text, modifier)
	- var classname = "site-button"
	- var classnameLink = classname
		- classnameLink += modifier ? " " + classname + "_" + modifier : ""

	a(class=classnameLink  href="./change-me")
		span(class=classname+ "__text")= text
