mixin createSiteButton(text, modifiers, href)
	- 
		let classname = "site-button"
		let classnameLink = classname + "__link"

	if (modifiers) 
		-modifiers = modifiers.split( " " );
		each modifier in modifiers
			- classnameLink += " " + classname + "__link" + "_" + modifier

	div(class = classname)
		a(class = classnameLink  href = href)= text
