mixin createSiteButton(text, modifier, href)
	- let classname = "site-button"
	- let classnameLink = classname + "__link"

	if (modifier) 
		- classnameLink += " " + classnameLink + "_" + modifier

	div(class = classname)
		a(class = classnameLink  href = href)= text
