div.rating
	input(type='radio' id='star5' name='rating' value='5')
	label.rating__star.rating__star_empty(for='star5')
	input(type='radio' id='star4' name='rating' value='4')
	label.rating__star(for='star4')
	input(type='radio' id='star3' name='rating' value='3')
	label.rating__star(for='star3')
	input(type='radio' id='star2' name='rating' value='2')
	label.rating__star(for='star2')
	input(type='radio' id='star1' name='rating' value='1')
	label.rating__star(for='star1')