.rating {
    overflow: hidden;
    width: 120px;

    &:after {
      content: '';
      display: table;
      clear: both;
      }
}

.rating > input {
    display: none;
}

.rating > .rating__star {
    float: right;
    width: 24px;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    line-height: 20px;
    color: $DarkShade25;
}

.rating > .rating__star:before {
    font-family: 'Material Icons';
    content: 'star';
    /*content: '★';    */
}

/*.rating > .rating__star_empty:before {
    content: 'star_border';
}*/

.rating > input:checked ~ .rating__star {
    color: $Purple;
}

.rating > .rating__star:hover,
.rating > .rating__star:hover ~ .rating__star {
    color: $Purple;
}

.rating > input:checked + .rating__star:hover,
.rating > input:checked + .rating__star:hover ~ .rating__star,
.rating > input:checked ~ .rating__star:hover ~ .rating__star,
.rating > .rating__star:hover ~ input:checked ~ .rating__star {
    color: $Purple;
}

