
mixin createMenu(arrMenuItems)
	-
		let className ='menu'

	nav(class=className)
		ul(class=className+'__list')
			each i in arrMenuItems
				li(class= className+"__item")
						-
							var classnameLink = className+"__link"
							classnameLink += i.needPseudoForLink ? " " + classnameLink + "_pseudo" : ""
							classnameLink += i.linkModifier ? " " + classnameLink + "_" + i.linkModifier : ""
						
						a(class= classnameLink href= i.url)= i.text

		