include ../pug_mixins

- 
	var arrMenuItems = [
	{url: './about_us.html', text: 'О нас', needPseudoForLink: false}, 
	{url: './services.html', text: 'Услуги', needPseudoForLink: true}, 
	{url: './vacancies.html', text: 'Вакансии', needPseudoForLink: false}, 
	{url: './news.html', text: 'Новости', needPseudoForLink: false}, 
	{url: './agreement.html', text: 'Соглашения', needPseudoForLink: true}
	];

nav.menu
	ul.menu__list
		each i in arrMenuItems
			+createListItems('menu', i.url, i.text, i.needPseudoForLink, false)
		