
mixin createMenu(className, arrMenuItems)

	nav(class=className)
		ul(class=className+'__list')
			each i in arrMenuItems
				+createListItems(className, i.url, i.text, i.needPseudoForLink, i.linkModifier)


mixin createListItems(className, url, text, needPseudoForLink, linkModifier)
	li(class= className+"__item")
		-
			var classnameLink = className+"__link"
			classnameLink += needPseudoForLink ? " " + classnameLink + "_pseudo" : ""
			classnameLink += linkModifier ? " " + classnameLink + "_" + linkModifier : ""
		
		a(class= classnameLink href= url)= text
		