//- create form(attributes)>block

mixin createForm(classname, method, action, formTitleText)
	- var attributes = {};
	- attributes.action = action;
	- attributes.method = method;
	- attributes.class = classname;
	form(class="site-form")&attributes(attributes)
		if formTitleText
			div.site-form__title= formTitleText

		if block
			block