mixin createLikeButton(likes, isLiked, href)
	- 
		let classname = "like-button";

	if isLiked
		div(class = classname + " " + classname + "_liked")
			a(class = classname + "__link" href = href)
				i(class = classname + "__icon" + " " + "material-icons") favorite
			span(class = classname + "__likes")= likes

	else
		div(class = classname)
			a(class = classname + "__link" href = href)
				i(class = classname + "__icon" + " " + "material-icons") favorite_border
			span(class = classname + "__likes")= likes
