mixin createLikeButton(likes, isLiked)
	- 
		let classname = "like-button";

	if isLiked
		div(class = classname + " " + classname + "_liked")
			i(class = classname + "__icon" + " " + "material-icons") favorite
			span(class = classname + "__likes")= likes

	else
		div(class = classname)
			i(class = classname + "__icon" + " " + "material-icons") favorite_border
			span(class = classname + "__likes")= likes
