doctype html
html
head
meta(charset = 'utf-8')
meta(name='viewport', content="initial-scale=1.0, width=device-width")


block keywords
	meta(name='Keywords' content='Toxin UIKit')

title 
	Toxin UIKit

body
	
	header.ui-header
		block ui-logo


	main.ui-main
	
		section.colorAndType
			block colorAndType	

		section.form-elements
			block form-elements

		section.cards
			block cards
				
		section.headers-footers
			block headers-footers




	footer.ui-footer