extends ../../common-files/UIKit-base-template

//- проставить в формах tabindex="1"
//- ссылки на чужие сайты должны содержать атрибут target="_blank
//- одинаковые id у одинаковых элементов в разных формах. Фактически, несколько одинаковых id на странице

block colorAndType
	div.container__left
		+createRect('ui-color-rect', 'DarkShade100', 'Dark Shade 100%', '#1F2041')
		+createRect('ui-color-rect', 'DarkShade75', 'Dark Shade 75%', '#1F2041')
		+createRect('ui-color-rect', 'DarkShade50', 'Dark Shade 50%', '#1F2041')
		+createRect('ui-color-rect', 'DarkShade25', 'Dark Shade 25%', '#1F2041')
		+createRect('ui-color-rect', 'DarkShade5', 'Dark Shade 5%', '#1F2041')
		+createRect('ui-color-rect', 'Purple', 'Purple', '#BC9CFF')
		+createRect('ui-color-rect', 'Green', 'Green', '#6FCF97')
	div.container__right
		+createFontsExample('h1', 'This one is the sub-section or widget title', 'fonts-example')
		+createFontsExample('h2', 'Next one is the item title inside widgets', 'fonts-example')
		+createFontsExample('h3', 'This is a label or CTA text', 'fonts-example')
		+createFontsExample('body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', 'fonts-example')





block cards
	div.container__column3
	
		+createForm('form-search-room', 'get', '/change-me', 'Найдем номера под ваши желания')
			div.form-group.form-group_column2
				label.form-group__label(for="arrival") Прибытие
				input(type="date" name="arrival" id="arrival")
			div.form-group.form-group_column2
				label.form-group__label(for="departure") Выезд
				input(type="date" name="departure" id="departure")
			div.form-group
				label.form-group__label Гости
				select(type="text" name="number-of-guests" class="number-of-guests")
					option(value="" disabled selected) Сколько гостей
					option(value="1") 1 гость
					option(value="2") 2 гостя
					option(value="3") 3 гостя

			+createFormButton('form-search-room', 'Подобрать номер', 'submit')


		+createForm('form-registration', 'post', '/change-me', 'Регистрация аккаунта')
			div.form-group
				input(type="text" name="name" id="name" placeholder="Имя")
			div.form-group
				input(type="text" name="surname" id="surname" placeholder="Фамилия")

			div.form-group.form-group_column2-row
				input(type="radio" name="gender" value="male" id="gender__male" checked)
				label.form-group__label(for="number-of-guests") Мужчина					
			div.form-group.form-group_column2-row
				input(type="radio" name="gender" value="female" id="gender__female")
				label.form-group__label Женщина

			div.form-group
				label.form-group__label(for="birthday") Дата рождения
				input(type="date" name="birthday" id="birthday")
			div.form-group
				label.form-group__label(for="email") Данные для входа в сервис
				input(type="email" name="email" id="email" placeholder="Email")
				input(type="password" name="password" id="password" placeholder="Пароль")
		
			div.form-group.form-group_column2-row
				div.button-cover
					div.toggle-button
						input.checkbox(type="checkbox")
						div.knobs
						div.layer
				label.form-group__label(for="number-of-guests") Получать спецпредложения

			+createFormButton('form-registration', 'перейти к оплате', 'submit')

			div.form-group.form-group_column2-row
				p Уже есть аккаунт на Toxin
				include ../../components/button/enter-button.pug

	div.container__column3

		+createForm('booking-room', 'get', '/change-me', '№ 888')
			div.form-group.form-group_column2
				label.form-group__label(for="arrival") Прибытие
				input(type="date" name="arrival" id="booking-arrival")
			div.form-group.form-group_column2
				label.form-group__label(for="departure") Выезд
				input(type="date" name="departure" id="booking-departure")
			div.form-group
				label.form-group__label Гости
				select(type="text" name="number-of-guests" class="number-of-guests")
					option(value="" disabled selected) Сколько гостей
					option(value="1") 1 гость
					option(value="2") 2 гостя
					option(value="3") 3 гостя

			div.form-group
				- 
					var arrDescPriceItems = [
					{classname: 'services-list', textDesc: '9 990&#8381; х 4 суток', textPrice: '39 960&#8381;', modifierClass: ''}, 
					{classname: 'services-list', textDesc: 'Сбор за услуги: скидка 2 179&#8381;', textPrice: '0&#8381;', modifierClass: ''}, 
					{classname: 'services-list', textDesc: 'Сбор за дополнительные услуги', textPrice: '300&#8381;', modifierClass: ''}, 
					{classname: 'services-list', textDesc: 'Итого', textPrice: '38 081&#8381;', modifierClass: 'total'}, 

					];

				+createList('form-group', arrDescPriceItems, false)

			+createFormButton('booking-room', 'Забронировать', 'submit')


	div.container__column3.container__column3_width270
