extends ./UIKit-base-template

include ../../components/color-example/color-example.pug
include ../../components/fonts-example/fonts-example.pug

include ../../components/extra-info/extra-info.pug
include ../../components/dropdown/dropdown.pug
include ../../components/calendar/calendar.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug

include ../../components/checkbox-button/checkbox-button.pug
include ../../components/like-button/like-button.pug
include ../../components/range-slider/range-slider.pug
include ../../components/pagination/pagination.pug

include ../../components/form-search-room/form-search-room.pug
include ../../components/form-registration/form-registration.pug
include ../../components/form-booking/form-booking.pug
include ../../components/form-enter/form-enter.pug
include ../../components/form-button/form-button.pug
include ../../components/text-field/text-field.pug


include ../../components/toggle-button/toggle-button.pug
include ../../components/move-to-another-form/move-to-another-form.pug
include ../../components/room-card/room-card.pug
include ../../components/room-info/room-info.pug

include ../../components/slider/slider.pug
include ../../components/logotype/logotype.pug
include ../../components/menu/menu.pug
include ../../components/link-button/link-button.pug
include ../../components/simple-button/simple-button.pug
include ../../components/user/user.pug
include ../../components/all-nav/all-nav.pug
include ../../components/subscribe/subscribe.pug
include ../../components/short-info/short-info.pug
include ../../components/social/social.pug

//- проставить в формах tabindex="1"
//- заменить картинки на слайдере
//- ссылки на чужие сайты должны содержать атрибут target="_blank
//- одинаковые id у одинаковых элементов в разных формах. Фактически, несколько одинаковых id на странице
//- инфо про то, что в форме кнопка всегда должна быть последним элементом??? 
//- переделать подключение шрифтов через node_modules и потом import их в js
//- во всех стилях найти rgba и заменить их на переменные DarkShade

 


block ui-logo	
	+createLogotype( {srcImg: "img/TOXIN_just_picture.svg"} )

block colorAndType
	div.container
		div.container__left
			+createColorExample( {colorModifier: "DarkShade100", colorName: "Dark Shade 100%", colorCSS: "#1F2041"} )
			+createColorExample( {colorModifier: "DarkShade75", colorName: "Dark Shade 75%", colorCSS: "#1F2041"} )
			+createColorExample( {colorModifier: "DarkShade50", colorName: "Dark Shade 50%", colorCSS: "#1F2041"} )
			+createColorExample( {colorModifier: "DarkShade25", colorName: "Dark Shade 25%", colorCSS: "#1F2041"} )
			+createColorExample( {colorModifier: "DarkShade5", colorName: "Dark Shade 5%", colorCSS: "#1F2041"} )
			+createColorExample( {colorModifier: "Purple", colorName: "Purple", colorCSS: "#BC9CFF"} )
			+createColorExample( {colorModifier: "Green", colorName: "Green", colorCSS: "#6FCF97"} )
		div.container__right
			+createFontsExample( {tag: "h1", text: "This one is the sub-section or widget title"} )
			+createFontsExample( {tag: "h2", text: "Next one is the item title inside widgets"} )
			+createFontsExample( {tag: "h3", text: "This is a label or CTA text"} )
			+createFontsExample( {tag: "body", text: "This is the body text which is used for most of the design, like paragraphs, lists, etc."} )


block form-elements

	-
		const dropdownsItems = {
			guests: [	
						{dataId: "adults", name: "взрослые"},
						{dataId: "children", name: "дети"},
						{dataId: "infants", name: "младенцы"},
					],
			rooms:	[	{dataId: "bedrooms", name: "спальни"},
						{dataId: "beds", name: "кровати"},
						{dataId: "bathrooms", name: "ванные комнаты"}
					],
		}

	div.container
		div.elements
			div.elements__column.elements__column_left

				+createExtraInfo(	{text: "Text Field", statusText: "Default"}	)
				+createTextField(	{id:"", name:"email", placeholder:"Email", isRequired:"", isDataMasked:false, isFocusedHovered: false	}	)

				+createExtraInfo(	{text: "Text Field", statusText: "Hover / Focus"}	)
				+createTextField(	{id:"", name:"somename", placeholder:"This is pretty awesome", isRequired:"", isDataMasked:false, isFocusedHovered: true	}	)
				
				+createExtraInfo(	{text: "dropdown", statusText: "Default"}	)
				+createDropdown(	{items: dropdownsItems.guests, type: "guests"}	 )

				+createExtraInfo(	{text: "masked text field", statusText: "Default"}	)
				+createTextField(	{id:"", name:"masked-text-field", placeholder:"ДД.ММ.ГГГГ", isRequired:"", isDataMasked:true, isFocusedHovered: false	}	)

				+createDatedropdown(	{
											extraInfoTextLeft: "date Dropdown",
											extraInfoTextRight: "date Dropdown",
											}	)

				+createFilterDatedropdown(	{
											extraInfoText: "filter date Dropdown",
											}	)


				+createExtraInfo(	{text: "subscription text field", statusText: ""}	)
				+createSubscribeTextField()

			div.elements__column.elements__column_center

				+createExtraInfo(	{text: "Checkbox Buttons", statusText: "", modifier: "bottom16px"}	)
				- 
					const arrCheckboxes = [	{	checkboxId: "smoking",
												checkboxText: "Можно курить"},	
											{	checkboxId: "pets",
												checkboxText: "Можно с питомцами"},	
											{	checkboxId: "invite-guests",
												checkboxText: "Можно пригласить гостей (до 10 человек)"},
										]

				+createCheckboxButton( arrCheckboxes )


				+createExtraInfo(	{text: "Radio Buttons", statusText: "", modifier: "bottom16px"}	)
				+createRadioGroup(	[	
						{name: "gender", value: "male", id: "ui-gender-male", text: "Мужчина", isChecked: true},
						{name: "gender", value: "female", id: "ui-gender-female", text: "Женщина", isChecked: false},
					])

				+createExtraInfo(	{text: "Toggle", statusText: "", modifier: "bottom16px"}	)
				+createToggleButton("ui-toggle-not-checked", "Получать спецпредложения", false)
				+createToggleButton("ui-toggle-checked", "Получать спецпредложения", true)


				+createExtraInfo(	{text: "Like button", statusText: "", modifier: "bottom16px"}	)

				+createLikeButton(2, false, "./change-me")
				+createLikeButton(12, true, "./change-me")


				+createExtraInfo(	{text: "Rate button", statusText: "", modifier: "bottom16px"}	)
				div.elements__group
					+createShowRating(4)
					+createShowRating(5)

			div.elements__column.elements__column_right
				div.elements__group.elements__group_flexcolumn
					+createExtraInfo(	{text: "Range Slider", statusText: "5 000₽ - 10 000₽", modifier: "bottom16px"}	)
					+createRangeSlider()

				+createExtraInfo(	{text: "Buttons", statusText: "", modifier: "bottom16px"}	)
				div.elements__group.elements__group_right20
					+createLinkButton( {text: "Click me", modifiers: "theme_basic", href: "./change-me"} )
				div.elements__group.elements__group_right20
					+createLinkButton( {text: "Click me", modifiers: "theme_basic opacity50", href: "./change-me"} )
				div.elements__group.elements__group_right20
					+createLinkButton( {text: "Click me", modifiers: "theme_light", href: "./change-me"} )
				div.elements__group.elements__group_right20
					+createLinkButton( {text: "Click me", modifiers: "theme_light opacity50", href: "./change-me"} )
				div.elements__group.elements__group_right20
					+createSimpleButton( {text: "Click me"} )
				div.elements__group
					+createSimpleButton( {text: "Click me", modifiers: "theme_no color_gray"} )

				+createFormButton( {text: "перейти к оплате", type:"submit"} )

				- 
					const arrPaginationItems = [
					{href: "./change-me", pageNumber: "1", isActive: true}, 
					{href: "./change-me", pageNumber: "2", }, 
					{href: "./change-me", pageNumber: "3", }, 
					{href: "./change-me", pageNumber: "...", }, 
					{href: "./change-me", pageNumber: "15", }, 
					];

				+createExtraInfo(	{text: "Pagination", statusText: "", modifier: "bottom16px"}	)
				+createPagination(	{text: "1 – 12 из 100+ вариантов аренды", items: arrPaginationItems}	)


		div.dropdowns
			div.dropdowns__column.dropdowns__column_left
				
				+createExtraInfo(	{text: "dropdown", statusText: "Default"}	)
				+createDropdown(	{items: dropdownsItems.rooms, type: "rooms"} )

				- 
					let setDefaultQuantity = [];
					let arrDataDefault = [2,2,0];
					dropdownsItems.rooms.forEach( function(item, index) 
						{
							item["dataDefault"] = arrDataDefault[index];
							setDefaultQuantity.push(item);
						});	


				+createExtraInfo(	{text: "dropdown", statusText: "Expanded"}	)
				+createDropdown(	{items: setDefaultQuantity, type: "rooms", isExpand: true, isSplitItemsSum: true, menuMarginBottom: true})

			div.dropdowns__column.dropdowns__column_center

				+createExtraInfo(	{text: "dropdown"}	)
				+createDropdown(	{items: dropdownsItems.guests, type: "guests", isExpand: true, spaceForButtons: true, menuMarginBottom: true})

			div.dropdowns__column
				div.container__block

					- 
						setDefaultQuantity = [];
						arrDataDefault = [2,1,0];
						dropdownsItems.guests.forEach( function(item, index) 
							{
								item["dataDefault"] = arrDataDefault[index];
								setDefaultQuantity.push(item);
							});	

					+createExtraInfo(	{text: "dropdown"}	)
					+createDropdown(	{items: setDefaultQuantity, type: "guests", isExpand: true, spaceForButtons: true, menuMarginBottom: true})


block cards
	div.container
		
		div.cards__column.cards__column_left
		
			div.site-card.site-card_fields_30
				+createFormSearchRoom()


			div.site-card.site-card_fields_30
				+createFormRegistration()

				+createMoveToAnotherForm(	{	text: "Уже есть аккаунт на Toxin",
												buttonText: "Войти",
												buttonTheme: "theme_light"	}	)


		div.cards__column.cards__column_center

			div.site-card.site-card_fields_30
				+createFormBooking()


			div.site-card.site-card_fields_30
				+createFormEnter("form-enter", "get", "/change-me", "Войти", "Войти", "submit")

				+createMoveToAnotherForm(	{	text: "Нет аккаунта на Toxin?",
												buttonText: "Создать",
												buttonTheme: "theme_light"	}	)


		div.cards__column.cards__column_right

			div.site-card.site-card_fields_20

				+createCalendar()


			div.site-card

				+createRoomCard({	sliderData:	{	arraySlides: [
														{src: "img/room888_picture.png", alt: "Слайд 1"},
														{src: "img/room888_picture2.png", alt: "Слайд 2"},
														{src: "img/room888_picture3.png", alt: "Слайд 3"},
														{src: "img/room888_picture4.png", alt: "Слайд 4"},
													], 
													needDots: true, 
													needPrevNext: true,	
												},

									roomData:	{	roomNumber: 888, 
													roomType: "люкс", 
													price: "9 990", 
													modifier: "border_bottom",
												},

									ratingData:	{	fullStars: 5, 
												},
									reviewsData:{	rewiewsQuantity: 145,
												},														

								})


			div.site-card

				+createRoomCard({	sliderData:	{	arraySlides: [
														{src: "img/room840_picture.png", alt: "Слайд 1"},
														{src: "img/room840_picture2.png", alt: "Слайд 2"},
														{src: "img/room840_picture3.png", alt: "Слайд 3"},
														{src: "img/room840_picture4.png", alt: "Слайд 4"},
													], 
													needDots: true, 
													needPrevNext: false,	
												},

									roomData:	{	roomNumber: 840, 
													roomType: "", 
													price: "9 990", 
													modifier: "border_bottom",
												},

									ratingData:	{	fullStars: 4, 
												},
									reviewsData:{	rewiewsQuantity: 65,
												},											

								})



block headers-footers

	div.header
		div.header__container
			+createLogotype( {srcImg: "./img/TOXIN_Logo.svg"} )

			- 
				let arrMenuItems = [
				{url: "./change-me", text: "Home", needPseudoForLink: false, linkModifier: "active"}, 
				{url: "./change-me", text: "About us", needPseudoForLink: false}, 
				{url: "./change-me", text: "Services", needPseudoForLink: true}, 
				{url: "./change-me", text: "Careers", needPseudoForLink: false}, 
				{url: "./change-me", text: "News", needPseudoForLink: false}, 
				{url: "./change-me", text: "Documentation", needPseudoForLink: false}
				];


			+createMenu(arrMenuItems)

			//+createAuthentification(false)
			div.header__registration

				div.header__button-wrapper
					+createLinkButton( {text: "Login", modifiers: "theme_light", href: "./change-me"} )

				+createLinkButton( {text: "Register", href: "./change-me"} )


	div.header.header_logged
		div.header__container

			+createLogotype( {srcImg: "./img/TOXIN_Logo.svg"} )

			+createMenu(arrMenuItems)

			div.header__user
			-var username = "Cosmin Negoita";
				+createUserAccount(username)


	footer.footer

		div.footer__widgets
			div.footer__container
				div.footer__left-side

					+createLogotype( {srcImg: "./img/TOXIN_Logo.svg"} )

					+createShortInfo('Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.')


				div.footer__right-side
					div.footer__navigation

						- 
							var arrAllNavItems =[
								{titleText: 'Navigation', 
												items: [{text: 'About Us', href: './change-me'}, 
														{text: 'News', href: './change-me'}, 
														{text: 'Support', href: './change-me'}, 
														{text: 'Products', href: './change-me'}]},
								{titleText: 'ABOUT US',
												items: [{text: 'Who we are', href: './change-me'}, 
														{text: 'Our team', href: './change-me'}, 
														{text: 'Careers', href: './change-me'}, 
														{text: 'Investors', href: './change-me'}]}, 

								{titleText: 'Support', 
												items: [{text: 'Documentation', href: './change-me'}, 
														{text: 'Community', href: './change-me'}, 
														{text: 'Get in Touch', href: './change-me'}]}
							]

						+createAllNav(arrAllNavItems)

					div.footer__subscribe
						+createSubscribe('Subscribe to our newsletter', 'Receive our latest news and promotions in your inbox!')

		div.footer__extra-info
			div.footer__container
				p.footer__copyright Copyright © 2018 Toxin UI Kit. All rights reserved.

				div.footer__socials
					- 
						const arrSocialItems = [
						{url: 'https://www.twitter.com', text: 'tw', linkModifier: 'tw'}, 
						{url: 'https://www.facebook.com', text: 'fb', linkModifier: 'fb'}, 
						{url: 'https://www.instagram.com', text: 'ig', linkModifier: 'ig'}
						];

					+createSocials(arrSocialItems)

	footer.footer-light
		div.footer-light__container

			+createLogotype( {srcImg: './img/TOXIN_Logo.svg'} )

			p.footer-light__text Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.

			div.footer-light__socials
				+createSocials(arrSocialItems)