extends ../../common-files/UIKit-base-template



block colorAndType
	div.container__left
		+createRect('ui-color-rect', 'DarkShade100', 'Dark Shade 100%', '#1F2041')
		+createRect('ui-color-rect', 'DarkShade75', 'Dark Shade 75%', '#1F2041')
		+createRect('ui-color-rect', 'DarkShade50', 'Dark Shade 50%', '#1F2041')
		+createRect('ui-color-rect', 'DarkShade25', 'Dark Shade 25%', '#1F2041')
		+createRect('ui-color-rect', 'DarkShade5', 'Dark Shade 5%', '#1F2041')
		+createRect('ui-color-rect', 'Purple', 'Purple', '#BC9CFF')
		+createRect('ui-color-rect', 'Green', 'Green', '#6FCF97')
	div.container__right
		+createFontsExample('h1', 'This one is the sub-section or widget title', 'fonts-example')
		+createFontsExample('h2', 'Next one is the item title inside widgets', 'fonts-example')
		+createFontsExample('h3', 'This is a label or CTA text', 'fonts-example')
		+createFontsExample('body', 'This is the body text which is used for most of the design, like paragraphs, lists, etc.', 'fonts-example')





block cards
	div.container__column3
		+createForm('form-search-room', 'post', '/change-me', true, 'Подобрать номер')
			div.site-form__title Найдем номера под ваши желания
			div.form-group.form-group_column2
				label.form-group__label(for="arrival") Прибытие
				input(type="date" name="arrival" id="arrival")
			div.form-group.form-group_column2
				label.form-group__label(for="departure") Выезд
				input(type="date" name="departure" id="departure")
			div.form-group
				label.form-group__label(for="number-of-guests") Гости
				input(type="text" name="number-of-guests" id="number-of-guests" placeholder="Сколько гостей")
		


	div.container__column3


	div.container__column3.container__column3_width270
