mixin createFormButton(text, type)
	- 
		let classname = "form-button";

	button(class = classname type = type || "button")= text || "OK"
		i.material-icons(class = classname + "__icon") arrow_forward
