//- create button(attributes) for forms


mixin createFormButton(text, type)
	- var buttonClassname = "form-button";
	- var attributes = {};
	- attributes.type = type || "button";
	- attributes.class = buttonClassname;
	button&attributes(attributes)= text || "OK"
		i.material-icons.form-button__icon arrow_forward
