//- create button(attributes) for forms


mixin createFormButton(classname, text, type)
	- var attributes = {};
	- attributes.type = type || 'button';
	- attributes.class = classname+'__button';
	button(class="form-button")&attributes(attributes)= text || 'OK'
		i.material-icons.form-button__icon arrow_forward
