doctype html
html
head
meta(charset = 'utf-8')
meta(name='viewport', content="initial-scale=1.0, width=device-width")
block keywords
	meta(name='Keywords' content='Toxin')

title 
	block title 
		Toxin


body
	
	header.header
		div.container
			block header-content

	main.main
		div.container
			block main-content
	
	section.nav-section
		div.container
			block nav-section-content

	footer.footer
		div.container
			block footer-content