//colors
$DarkShade100: #1F2041;
$DarkShade75: #1F2041;
$DarkShade50: #1F2041;
$DarkShade25: #1F2041;
$DarkShade5: #1F2041;
$Purple: #BC9CFF;
$Green: #6FCF97;

@import "./~normalize.css";

@import "../fonts/Montserrat.css";
@import "../fonts/Opensans.css";
@import "../fonts/Quicksand.css";
@import "../fonts/Material-icons.css";*/

@import "./common.scss";

@import "../components/menu/menu.scss";

@import "../components/social/social.scss";




.container
{  
	margin: 0 auto;
	display: grid;
	max-width: 1920px;
	min-width: 320px;
	width: 1160px;
	overflow: hidden;
}

header.header .container {
	grid-template-columns: 110px 60% auto;
	align-content: center;
	min-height: 70px;	
}

.logo {
	line-height: 0px;
}



.main-nav {
	text-align: right;
}

.auth {
	text-align: right;
	display: inline-flex;
}




main.main {
	background-image: url('../img/BG_main.png');
	background-size: cover;
	background-position: center center;	
}

.main .container {
	position: relative;
	min-height: 830px;
}

div.main__note {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 300px;
	font-size: 14px;
	text-align: right;
	color: rgba(31, 32, 65, 0.75);
}


section.nav-section {
	box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
}

.nav-section .container {
	padding: 100px 0px;
	grid-template-columns: 260px auto 260px;
}

.all-navigation {
	display: flex;
}

.nav-column{
	padding-left: 30px;
	padding-right: 10px;
}

.nav-column__link {
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);

	&:hover,
	&:active {
		color: rgba(31, 32, 65, 0.75);
	}
}


form.confirm-subscribe {
	display: flex;
}

.confirm-subscribe__input { 
	box-sizing: border-box;
	width: 216px;
	height: 44px;
	padding: 10px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-right: none;
	border-radius: 4px 0 0 4px;
	color: rgba(31, 32, 65, 0.25);	
}


.confirm-subscribe__submit {
	box-sizing: border-box;
	cursor: pointer;
	background: url("../img/arrow_forward.svg") no-repeat 50% 50%;
	width: 44px;
	height: 44px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-left: none;
	border-radius: 0 4px 4px 0;
	color: #BC9CFF;	
}


footer.footer {
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
footer .container {
	display: flex;
	padding: 23px 0;
	align-items: center;
	justify-content: space-between;
}