//colors
$DarkShade100: rgba(31, 32, 65, 1);
$DarkShade75: rgba(31, 32, 65, 0.75);
$DarkShade50: rgba(31, 32, 65, 0.50);
$DarkShade25: rgba(31, 32, 65, 0.25);
$DarkShade5: rgba(31, 32, 65, 0.05);
$Purple: #BC9CFF;
$Purplegradient: #8BA4F9;
$Green: #6FCF97;
$Greengradient: #66D2EA;

$colors: (
	DarkShade100: $DarkShade100,
	DarkShade75: $DarkShade75,
	DarkShade50: $DarkShade50,
	DarkShade25: $DarkShade25,
	DarkShade5: $DarkShade5,
	Purple: $Purple,
	Green: $Green,
);

@import "~normalize.css";
/*убрать потом это, лучше свой scss для datepicker*/
@import "~air-datepicker/src/sass/cell.scss";
@import "~air-datepicker/src/sass/datepicker.scss";
@import "~air-datepicker/src/sass/navigation.scss";
@import "~air-datepicker/src/sass/_datepicker-config.scss";
@import "~air-datepicker/src/sass/timepicker.scss";

@import "../fonts/Montserrat.css";
@import "../fonts/Quicksand.css";
@import "../fonts/material-icons.css";

@import "./common.scss";




body {
	min-width: 1460px;
}

.ui-main {
	margin: 145px 150px;
}

.container {  
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	max-width: 1920px;
	overflow: hidden;
	justify-content: space-between;
}

div.container__left {
	min-width: 280px;
}

div.container__right {
	width: 430px;
}









div.container__column3 {
	flex: 0 0 380px;
}
.container__column3.container__column3_width320 {
	flex: 0 0 320px;
}





.form-group {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}
.form-group.form-group_type_inline {
	display: inline-flex;
}
.form-group.form-group_type_inline_row {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

.form-group.form-group_type_inline_row_width100 {
	display: inline-flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}






.form-group__label {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: $DarkShade100;
	margin-bottom: 5px;
}




.form-group__input_radio {
	display: none;    

	&:checked + .form-group__label_radio {   
		color: $DarkShade75;
	}
}

.form-group__label_radio {
    padding: 0px 20px 0px 30px;
    position: relative;
    text-transform: none;
    font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: $DarkShade50;
}

.form-group__label_radio:before {
	content: '';
    position: absolute;
    left: 0;
    border: 1px solid $Purple;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
}

.form-group__input_radio:checked + .form-group__label_radio:after {
    content: '';
    position: absolute;
	top: 4px;
	left: 4px;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    background: linear-gradient(180deg, $Purple 0%, $Purplegradient 100%);
}




input { 
	box-sizing: border-box; 
	padding: 8px 15px; 
	max-width: 100%; 	
	border: 1px solid $DarkShade25;
	border-radius: 4px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: $DarkShade25; 	

	background-color: #fff; 
} 





.client-personal-info__name,
.client-personal-info__surname {
	margin-bottom: 10px;
}



.client-birthday__date-field {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: $DarkShade25;
	text-transform: uppercase;
}



.client-login-pass__email-field,
.client-login-pass__pass-field {
	margin-bottom: 10px;
}


.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1 0 100%;
	padding: 10px 0;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	
	&__registration {
		display: flex;
		align-items: center;
	}

	&__button-wrapper {
		padding-right: 20px;
	}

	&__user {
		display: flex;
		align-items: center;
	}

	&.header_logged {

	}
}


.footer {
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

	&__widgets {
		box-shadow: inset 0px -1px 0px rgba(31, 32, 65, 0.1);
		display: flex;
	}

	&__left-side {		
		flex: 0 0 260px;		
	}

	&__right-side {
		flex-grow: 1;
		display: flex;
	}

	&__subscribe {
		flex: 0 0 260px;
	}	

	&__navigation {
		flex-grow: 1;
		padding: 0 40px;
	}	

	&__bottom {
		display: flex;
		justify-content: space-between;
	}
}






@import "../components/color-example/color-example.scss";
@import "../components/fonts-example/fonts-example.scss";
@import "../components/form/form.scss";
@import "../components/form-button/form-button.scss";
@import "../components/site-card/site-card.scss";
@import "../components/site-card/_fields_20/site-card_fields_20.scss";
@import "../components/site-card/_fields_30/site-card_fields_30.scss";
@import "../components/guests-quantity/guests-quantity.scss";
@import "../components/arrival-and-departure/arrival-and-departure.scss";
@import "../components/toggle-button/toggle-button.scss";
@import "../components/room-info/room-info.scss";
@import "../components/services-and-prices/services-and-prices.scss";
@import "../components/move-to-another-form/move-to-another-form.scss";
@import "../components/room-card/room-card.scss";
@import "../components/show-rating/show-rating.scss";
@import "../components/slider/slider.scss";
@import "../components/logotype/logotype.scss";
@import "../components/menu/menu.scss";
@import "../components/site-button/site-button.scss";
@import "../components/user/user.scss";
@import "../components/all-nav/all-nav.scss";
@import "../components/subscribe/subscribe.scss";
@import "../components/short-info/short-info.scss";
@import "../components/social/social.scss";