//colors
$DarkShade100: rgba(31, 32, 65, 1);
$DarkShade75: rgba(31, 32, 65, 0.75);
$DarkShade50: rgba(31, 32, 65, 0.50);
$DarkShade25: rgba(31, 32, 65, 0.25);
$DarkShade5: rgba(31, 32, 65, 0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;

$colors: (
	DarkShade100: $DarkShade100,
	DarkShade75: $DarkShade75,
	DarkShade50: $DarkShade50,
	DarkShade25: $DarkShade25,
	DarkShade5: $DarkShade5,
	Purple: $Purple,
	Green: $Green,
);

@import "./~normalize.css";

@import "../fonts/Montserrat.css";
@import "../fonts/Quicksand.css";
@import "../fonts/material-icons.css";

@import "./common.scss";

@import "../components/button/button.scss";


.ui-main {
	margin: 145px 150px;
}

.container {  
	margin: 0 auto;
	display: flex;
	max-width: 1920px;
	min-width: 600px;
	overflow: hidden;
	justify-content: space-between;
}

div.container__left {
	min-width: 280px;
}

div.container__right {
	width: 430px;
}

.ui-color-rect-wrapper {
	padding: 10px 0;

	&:after {
	  content: '';
	  display: table;
	  clear: both;
	  }
}

.ui-color-rect {
	float: left;
	width: 70px;
	height: 70px;
	border-radius: 6px;
	background: #000;
	margin-right: 40px;

 @each $keyname, $color in $colors {

		&.ui-color-rect_#{$keyname} {
			background: $color;
		}

	}

	&__name {
		font-size: 19px;
		line-height: 29px;
		padding-top: 6px;
	    padding-bottom: 0px;
	    display: inline-block;
	}
	
	&__desc {
		font-size: 19px;
		line-height: 29px;
		margin: 2px 0;
	}


}


.fonts-example {
	display: flex;
    padding-top: 10px;
    padding-bottom: 25px;

	&__tagtext
	{
		margin-top: 0px;
		
	}
}

.fonts-example__tagname {

	font-family: Montserrat;
	text-align: right;
	color: $DarkShade25;
	flex:0 0 70px;
	margin-right: 30px;

	&_h1 {
		font-size: 24px;
		line-height: 29px;
	}
	
	&_h2 {
		font-size: 19px;
		line-height: 23px;
	}
	
	&_h3 {
		font-size: 12px;
		line-height: 15px;
	}

	&_p {
		font-size: 14px;
		line-height: 24px;

		&:first-letter {
			text-transform: uppercase;;
		}
	}
}





div.container__column3 {
	flex: 1 0 380px;
}
.container__column3.container__column3_width270 {
	flex-basis: 270px;
}




.site-form {
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 30px;
	padding-top: 40px;
}

.form-group {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}
.form-group.form-group_column2 {
	display: inline-flex;
}
.form-group.form-group_column2-row {
	display: inline-flex;
	flex-direction: row;
}

.site-form__title {
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color: $DarkShade100;
}

.form-group__label {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: $DarkShade100;

	margin-bottom: 5px;
}

.form-group__list {
	margin: 0;
}


.form-button {
	position: relative;
	width: 100%;
	cursor: pointer;
	font-family: Montserrat;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	border-radius: 22px;
	color: #fff;
	background: linear-gradient(180deg, $Purple 0%, #8BA4F9 100%);
	padding: 10px 20px;

	&__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
	}
}





.number-of-guests { 
display: block; 
 -moz-appearance: none;
 -webkit-appearance: none;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: $DarkShade75; 

padding: 8px 15px; 
padding-right: 20px;
width: 100%; 
max-width: 100%; 
box-sizing: border-box; 
margin: 0; 
border: 1px solid $DarkShade25;
border-radius: 4px;

background-color: #fff; 
background-image: url(../img/expand_more.svg);
background-repeat: no-repeat;
background-position: right 1.2em top 50%, 0 0;
background-size: 0.9em;
} 

 .number-of-guests::-ms-expand {
 	display: none;
} 

 .number-of-guests:focus {
 	outline: none; 
}

 .number-of-guests option {
 	font-weight:normal;
 }
 *[dir="rtl"] .number-of-guests, 
 :root:lang(ar) .number-of-guests, 
 :root:lang(iw) .number-of-guests { 
	background-position: left .7em top 50%, 0 0; 
	padding: .6em .8em .5em 1.4em; 
}




.button-cover {
    height: 20px;
    padding: 0;
    /*background-color: red;*/
}

.knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.toggle-button {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 20px;
}

.toggle-button, .toggle-button .layer {
    border-radius: 10px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    transition: 0.3s ease all;
    z-index: 1;
    background: #ffffff;
	box-sizing: border-box;
	border: 1px solid $DarkShade25;
}

.toggle-button .knobs:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: $DarkShade25;
    border-radius: 10px;
    transition: 0.3s ease all;
}

.toggle-button .checkbox:checked + .knobs:before {
    content: '';
    left: 24px;
}







.services-list {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;

	&__desc {
		max-width: 214px;
	}
}

.services-list_total {

	border-bottom: 1px dotted $DarkShade25; 

	margin: 30px 0 20px;

	& .services-list__desc, 
	& .services-list__price {
		background-color: #fff;
		margin-bottom: -6px;
		border-bottom: 1px solid #fff; 
		font-family: Quicksand;
		font-style: normal;
		font-weight: bold;
		font-size: 19px;
		line-height: 24px;
		color: $DarkShade100;
	}

	& .services-list__desc {
		padding-right: 10px;
	}

	& .services-list__price {
		padding-left: 10px;
	}

}