//colors
$DarkShade100: rgba(31, 32, 65, 1);
$DarkShade75: rgba(31, 32, 65, 0.75);
$DarkShade50: rgba(31, 32, 65, 0.50);
$DarkShade25: rgba(31, 32, 65, 0.25);
$DarkShade15: rgba(31, 32, 65, 0.15);
$DarkShade5: rgba(31, 32, 65, 0.05);
$Purple: #BC9CFF;
$Purplegradient: #8BA4F9;
$Green: #6FCF97;
$Greengradient: #66D2EA;

$colors: (
	DarkShade100: $DarkShade100,
	DarkShade75: $DarkShade75,
	DarkShade50: $DarkShade50,
	DarkShade25: $DarkShade25,
	DarkShade5: $DarkShade5,
	Purple: $Purple,
	Green: $Green,
);

@import "~normalize.css";


@import "~item-quantity-dropdown/lib/item-quantity-dropdown.min.css";


@import "../fonts/Montserrat.css";
@import "../fonts/Opensans.css";
@import "../fonts/Quicksand.css";
@import "../fonts/Material-icons.css";



@import "./common.scss";




body {
	min-width: 1460px;
	background: #F4F4F6;
}


.ui-main {
	margin: 72px 0px 0px;
}


section.colorAndType {
	background-color: #fff;
}
section.headers-footers >div,
section.headers-footers >header,
section.headers-footers >footer:not(:last-child), {
	margin-bottom: 40px;
}

.container {  
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	/*max-width: 1920px;*/
	max-width: 1160px;
	overflow-x: hidden;
	justify-content: space-between;

	&__section {
		display: flex;
	}

	&__column {

		flex: 0 0 auto;

		&.container__column_width380 {
			flex-basis: 380px;
		}

		&.container__column_width320 {
			flex-basis: 320px;
		}
	}

}


div.container__left {
	min-width: 280px;
}

div.container__right {
	width: 430px;
}







input { 
	box-sizing: border-box; 
	padding: 8px 15px; 
	max-width: 100%; 	
	border: 1px solid $DarkShade25;
	border-radius: 4px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: $DarkShade25; 	

	background-color: #fff; 
}





.header {
	background-color: #fff;

	&__container {
		margin: 0 auto;
		overflow-x: hidden;
		/*max-width: 1920px;*/
		max-width: 1160px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	padding: 10px 0;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	
	&__registration {
		display: flex;
		align-items: center;
	}

	&__button-wrapper {
		padding-right: 20px;
	}

	&__user {
		display: flex;
		align-items: center;
	}

	&.header_logged {

	}
}


.footer {
	background-color: #fff;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

	&__container {
		margin: 0 auto;
		overflow-x: hidden;
		/*max-width: 1920px;*/
		max-width: 1160px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__widgets {
		box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
		display: flex;
	}

	&__left-side {		
		flex: 0 0 260px;		
	}

	&__right-side {
		flex-grow: 1;
		display: flex;
	}

	&__subscribe {
		flex: 0 0 260px;
	}	

	&__navigation {
		flex-grow: 1;
		padding: 0 40px;
	}	

	&__extra-info {
/*		display: flex;
		justify-content: space-between;*/
	}
}



.footer-light {
	background-color: #fff;
	width: 100%;
	overflow: auto;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 100px auto 110px;

		overflow-x: hidden;
		/*max-width: 1920px;*/
		max-width: 1160px;
	}
}


@import "../components/block-BEM/block-BEM.scss";

@import "../components/color-example/color-example.scss";
@import "../components/fonts-example/fonts-example.scss";

@import "../components/extra-info-text-field/extra-info-text-field.scss";
@import "../components/text-field/text-field.scss";
@import "../components/dropdown/dropdown.scss";
@import "../components/date-dropdown/date-dropdown.scss";
@import "../components/filter-date-dropdown/filter-date-dropdown.scss";
@import "../components/calendar/calendar.scss";
@import "../components/subscription-text-field/subscription-text-field.scss";
@import "../components/checkbox-button/checkbox-button.scss";


@import "../components/form-search-room/form-search-room.scss";
@import "../components/form-registration/form-registration.scss";
@import "../components/form-booking/form-booking.scss";
@import "../components/form-enter/form-enter.scss";
@import "../components/form-button/form-button.scss";
@import "../components/site-card/site-card.scss";
@import "../components/site-card/_fields_20/site-card_fields_20.scss";
@import "../components/site-card/_fields_30/site-card_fields_30.scss";
@import "../components/guests-quantity/guests-quantity.scss";
@import "../components/arrival-and-departure/arrival-and-departure.scss";

@import "../components/radio-group/radio-group.scss";
@import "../components/toggle-button/toggle-button.scss";
@import "../components/room-info/room-info.scss";
@import "../components/price-detalization/price-detalization.scss";
@import "../components/move-to-another-form/move-to-another-form.scss";
@import "../components/room-card/room-card.scss";
@import "../components/show-rating/show-rating.scss";
@import "../components/slider/slider.scss";
@import "../components/logotype/logotype.scss";
@import "../components/menu/menu.scss";
@import "../components/site-button/site-button.scss";
@import "../components/user/user.scss";
@import "../components/all-nav/all-nav.scss";
@import "../components/subscribe/subscribe.scss";
@import "../components/short-info/short-info.scss";
@import "../components/social/social.scss";