mixin createToggleButton(id, text, isChecked)
	- var classname = "toggle-button"

	div(class=classname)
	
		div(class = classname + "__button")
			input(class = classname+"__checkbox" type="checkbox" id=id checked=isChecked)
			div(class = classname+"__knobs")
			div(class = classname+"__layer")

		label(class=classname+"__text" for=id)= text