include ../../components/extra-info/extra-info.pug

mixin createDatedropdown(	{extraInfoTextLeft, extraInfoTextRight}	)

	div.date-dropdown.js-date-dropdown

		div.date-dropdown__left.js-date-dropdown__left

			+createExtraInfo(	{text: extraInfoTextLeft, statusText: ""}	)
			input.date-dropdown__input.date-dropdown__input_left.js-date-dropdown__input_left(type='text' placeholder="ДД.ММ.ГГГГ" name="date-dropdown-left")

		div.date-dropdown__right.js-date-dropdown__right

			+createExtraInfo(	{text: extraInfoTextRight, statusText: ""}	)
			input.date-dropdown__input.date-dropdown__input_right.js-date-dropdown__input_right(type='text' placeholder="ДД.ММ.ГГГГ" name="date-dropdown-right")
		




