mixin createRect(colorModifier, colorName, colorCSS)

	div.color-example
		-	
			let classes = ["color-example__rect"]
			if (colorModifier)
				classes.push("color-example__rect_" + colorModifier)


		div(class = classes)
		b.color-example__name= colorName
		p.color-example__desc= colorCSS	