mixin createColorExample(options)

	div.color-example
		-	
			let classes = ["color-example__rect"]
			if (options.colorModifier)
				classes.push("color-example__rect_" + options.colorModifier)


		div(class = classes)
		b.color-example__name= options.colorName
		p.color-example__desc= options.colorCSS	