//- Create rectangles for UIKit div

mixin createRect(colorModifier, colorName, colorCSS)
	- classname = "color-example";
	div(class=classname)
		- 
			var classnameModificator = classname+"__rect"
			classnameModificator += colorModifier ? " "+classnameModificator+"_"+colorModifier : ""
		div(class=classnameModificator)
		b(class=classname+'__name')= colorName
		p(class=classname+'__desc')= colorCSS	