include ../../components/extra-info/extra-info.pug
include ../../components/dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/form-button/form-button.pug
include ../../components/block-BEM/block-BEM.pug


mixin createFormSearchRoom()
	- var formClassname = 'form-search-room';
	- var formTitle = 'Найдем номера под ваши желания';

	- var attributes = {};
	- attributes.action = '/change-me';
	- attributes.method = 'get';
	- attributes.class = formClassname;

	form&attributes(attributes)

		h1(class = formClassname + '__title')= formTitle	

		+createDatedropdown(	{
									extraInfoTextLeft: "Прибытие",
								 	extraInfoTextRight: "Выезд",
								 }	)

		- 
			let arrDropdownItems = [	{	dataId: "item1",
											name: "взрослые",
										},
										{	dataId: "item2",
											name: "дети",
										},
										{	dataId: "item3",
											name: "младенцы",
										},
									]
		+createExtraInfo(	{text: "Гости", statusText: ""}	)
		+createDropdown( {items: dropdownsItems.guests, type: "guests"} )


		+createDivClassesBEM({	blockBEM: formClassname, element: '__button', modifiers: []	})
			+createFormButton('Подобрать номер', 'submit')