mixin createRangeSlider()
	- 
		let classname = "range-slider";

	div(class = classname)
		div(class = classname + "__inner")
			div(class = classname + "__left-circle")
			div(class = classname + "__body")
			div(class = classname + "__right-circle")
