mixin createArrivalAndDeparture(id, text)

	- var classname = 'arrival-and-departure'

	div(class = classname)
		label.form-group__label(class=classname+'__text' for=id)= text
		input(class=classname+'__date-field' type='date' name=id id=id)