include ../../components/subscription-text-field/subscription-text-field.pug

mixin createSubscribe(titleText, text)
	-
		var className ='subscribe'

	div(class=className)
		h3(class=className+'__title')= titleText
		p(class=className+'__text')= text
		
		+createSubscribeTextField()