@font-face {
    font-family: 'Opensans';

    src: url('../fonts/Opensans/Opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/Opensans/Opensans-regular-webfont.woff') format('woff'),
         url('../fonts/Opensans/Opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/Opensans/Opensans-regular-webfont.svg') format('svg');

    font-weight: normal;
    font-style: normal;
}