mixin createSocials(arrSocialItems)

	div.social
		ul.social__list
			each i in arrSocialItems
				li.social__item
					-
						let classesLink = ["social__link"]
							if (i.linkModifier)
								- classesLink.push(classesLink + '_' + i.linkModifier)
					
					a(class= classesLink href= i.url)= i.text