mixin createSocials(arrSocialItems)
	- var className = 'social';

	div(class= className)
		ul(class= className+'__list')
			each i in arrSocialItems			
				li(class= className+'__item')
					-
						var classnameLink = className+'__link'
						classnameLink += i.linkModifier ? ' ' + classnameLink + '_' + i.linkModifier : ''
					
					a(class= classnameLink href= i.url)= i.text