include ../pug_mixins

- 
	var arrSocialItems = [
	{url: 'https://www.twitter.com', text: 'tw', linkModifier: 'tw'}, 
	{url: 'https://www.facebook.com', text: 'fb', linkModifier: 'fb'}, 
	{url: 'https://www.instagram.com', text: 'ig', linkModifier: 'ig'}
	];

	var classname = 'social';

div(class= classname)
	+createList(classname, arrSocialItems)
		