include ../pug_mixins

- 
	var arrSocialItems = [
	{url: 'https://www.twitter.com', text: 'tw', needPseudo: false}, 
	{url: 'https://www.facebook.com', text: 'fb', needPseudo: false}, 
	{url: 'https://www.instagram.com', text: 'ig', needPseudo: false}
	];

	var classname = 'social';

div(class= classname)
	+createList(classname, arrSocialItems)
		