extends ../base_template


block title 
	| Welcome to Toxin Hotel

block header-content
	div.logo
	div.main-nav
	div.auth
		
block main-content
	div.main__note Лучшие номера для вашей работы, отдыха и просто вдохновения
		

block nav-section-content
	div.short-info
		div.nav-logo
		p.short-info__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
	div.all-navigation
	div.subscribe
		h3.subscribe__title Подписка
		p.subscribe__text Получайте специальные предложения и новости сервиса
		form.confirm-subscribe(action="./change-me" method="get")
			input.confirm-subscribe__input(type="email" placeholder="Email")
			input.confirm-subscribe__submit(type="submit" value="")
		

block footer-content
	div.copyright-info Copyright © 2018 Toxin отель. Все права зачищены.
	div.socials

		