extends ../base_template


block title 
	| Welcome to Toxin Hotel

block header-content
	div.logo
	div.main-nav
	div.auth
		
block main
	section.main main
		div.main__note Лучшие номера для вашей работы, отдыха и просто вдохновения
		

block nav-section
	section.nav-section nav-section

		

block footer
	footer.footer footer
		