mixin createSubscribeTextField()
	
	- var classname = 'subscription'

	form(class=classname action='./change-me' method='get')
		input(class=classname+'__input' type='email' placeholder='Email')
		input(class=classname+'__submit' type='submit' value='')