.simple-button {
	display: inline-block;
	cursor: pointer;

	&__text {
		display: block;

		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;

		text-transform: uppercase;

		color: $Purple;

		&_color_gray {
			color: $DarkShade50;
		}
	}
}


