mixin createSimpleButton(options)
	- 
		let classes = ["simple-button__text"]

	if (options.modifiers) 
		- options.modifiers = options.modifiers.split( " " );
			each modifier in options.modifiers
				- classes.push(`simple-button__text_${modifier}`)

	div.simple-button
		span(class=classes)= options.text
