doctype html
html
head
meta(charset = 'utf-8')
meta(name='viewport', content="initial-scale=1.0, width=device-width")

title 
	block title 
		Toxin
//- block scripts
	script(src='')

body

	div.container
	
		block header

		block main

		block nav-section

		block footer