doctype html
html
head
meta(charset = 'utf-8')
meta(name='viewport', content="initial-scale=1.0, width=device-width")

title 
	block title 
		Toxin
//- block scripts
	script(src='')

body
	
	header.header
		div.container
			block header-content

	block main
		div.container

	block nav-section
		div.container

	block footer
		div.container