@import "~normalize.css";
@import "Montserrat.css";
@import "Quicksand.css";

a {
	text-decoration: none;
	color: rgba(31, 32, 65, 0.5);
}

.site-button {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	border-radius: 22px;
	color: #fff;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	padding: 10px 20px;

	margin: auto 0;
	margin-right: 20px;
}

.site-button_light {
	color: #BC9CFF;
	background: #fff;
	border: 3px solid #BC9CFF;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	padding: 7px 17px;
}

body {
	font-family: Montserrat;
	font-size: 14px;
	line-height: 17px;
	color: rgba(31, 32, 65, 0.5);
}

.container
{  
	margin: 0 auto;
	display: grid;
	max-width: 1920px;
	min-width: 320px;
	width: 1160px;
}

header.header .container {
	grid-template-columns: 110px 60% auto;
	align-content: center;
	min-height: 70px;
	overflow: hidden;
}

.main-nav {
	text-align: right;
}

.auth {
	text-align: right;
	display: inline-flex;
}

.menu__list {
	display: inline-flex;
}
.menu__item {	
	list-style: none;
	margin-right: 20px;
}
.menu__link_pseudo {
	position: relative;
	padding-right: 20px;
}
.menu__link_pseudo::after {
	content: '';
	display: inline-block;
	position: absolute;
	width: 24px;
	height: 21px;
	background: url('../img/expand_more.svg') no-repeat;
	background-position: 6px 5px;
}

section.main {
	background-image: url('../img/BG_main.png');
	background-size: cover;
	background-position: center center;
	height: 830px;
	overflow: hidden;
	grid-column: 1/6;
	grid-row: 2/3;
	position: relative;
}

div.main__note {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 300px;
	font-size: 14px;
	line-height: 24px;
	text-align: right;
	color: rgba(31, 32, 65, 0.75);
}

section.nav-section {
	grid-column: 1/6;
	grid-row: 3/4;
}

footer.footer {
	grid-column: 1/6;
	grid-row: 4/5;
}