include ../../components/link-button/link-button.pug

mixin createMoveToAnotherForm({text, buttonText, buttonTheme})
	div.move-to-another-form
		p.move-to-another-form__text= text

		+createLinkButton(buttonText, buttonTheme)