include ../../components/site-button/site-button.pug

mixin createMoveToAnotherForm({text, buttonText, buttonTheme})
	div.move-to-another-form
		p.move-to-another-form__text= text

		+createSiteButton(buttonText, buttonTheme)