include ../../components/form-button/form-button.pug
include ../../components/block-BEM/block-BEM.pug
include ../../components/radio-group/radio-group.pug
include ../../components/text-field/text-field.pug
include ../../components/toggle-button/toggle-button.pug
//- переделать все кавычки на один тип одинарные или двойные

mixin createFormRegistration()
	- var formClassname = "form-registration";
	- var formTitle = "Регистрация";

	- var attributes = {};
	- attributes.action = "/change-me";
	- attributes.method = "get";
	- attributes.class = formClassname;

	form&attributes(attributes)

		h1(class = formClassname + "__title")= formTitle


		+createDivClassesBEM({	blockBEM: formClassname, element: "__text-field", modifiers: ["_padding_20",]	})
			+createTextField({	id:"name", name:"name", placeholder:"Имя", type:"text", isRequired:true})

		+createDivClassesBEM({	blockBEM: formClassname, element: "__text-field", modifiers: []	})
			+createTextField({	id:"surname", name:"surname", placeholder:"Фамилия", type:"text", isRequired:true	})

		+createDivClassesBEM({	blockBEM: formClassname, element: "__block", modifiers: []	})
			+createRadioGroup(	[	
									{name: "gender", value: "male", id: "gender-male", text: "Мужчина", isChecked: true},
									{name: "gender", value: "female", id: "gender-female", text: "Женщина", isChecked: false},
								])

		+createDivClassesBEM({	blockBEM: formClassname, element: "__block", modifiers: []	})
			h3(class = formClassname + "__block-title") Дата рождения
			+createTextField({	id:"birthday", name:"birthday", placeholder:"", type:"date", isRequired:false})


		+createDivClassesBEM({	blockBEM: formClassname, element: "__block", modifiers: []	})
			h3(class = formClassname + "__block-title") Данные для входа в сервис
			+createDivClassesBEM({	blockBEM: formClassname, element: "__text-field", modifiers: []	})
				+createTextField({	id:"", name:"email", placeholder:"Email", type:"email", isRequired:true	})

			+createDivClassesBEM({	blockBEM: formClassname, element: "__text-field", modifiers: []	})
				+createTextField({	id:"", name:"password", placeholder:"Пароль", type:"password", isRequired:true	})


		+createDivClassesBEM({	blockBEM: formClassname, element: "__block", modifiers: ["_type_inline_row",]	})
			+createToggleButton("toggle-button", "Получать спецпредложения")


		+createDivClassesBEM({	blockBEM: formClassname, element: "__button", modifiers: []	})
			+createFormButton("Перейти к оплате", "submit")