include ../../components/extra-info/extra-info.pug
include ../../components/dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/form-button/form-button.pug
include ../../components/room-info/room-info.pug
include ../../components/price-detalization/price-detalization.pug
include ../../components/block-BEM/block-BEM.pug


//-переделать кнопку формы на элемент!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

mixin createFormBooking()
	- var formClassname = "form-booking";

	- var attributes = {};
	- attributes.action = "/change-me";
	- attributes.method = "get";
	- attributes.class = formClassname;

	form&attributes(attributes)

		+createRoomInfo(888, "люкс", "9 990")

		+createDatedropdown(	{
									extraInfoTextLeft: "Прибытие",
								 	extraInfoTextRight: "Выезд",
								 }	)

		- 
			var arrDropdownItems = [	{	dataId: "item1",
											name: "взрослые",
										},
										{	dataId: "item2",
											name: "дети",
										},
										{	dataId: "item3",
											name: "младенцы",
										},
									]

		+createExtraInfo(	{text: "Гости", statusText: ""}	)
		+createDropdown(arrDropdownItems)


		+createDivClassesBEM({	blockBEM: formClassname, element: "__block", modifiers: []	})
			div.price-detalization 
				+createPriceDetalization("price-detalization")

		+createDivClassesBEM({	blockBEM: formClassname, element: "__button", modifiers: []	})
			+createFormButton("Забронировать", "submit")