include ../../components/extra-info/extra-info.pug
include ../../components/dropdown/dropdown.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/form-button/form-button.pug
include ../../components/room-info/room-info.pug
include ../../components/price-detalization/price-detalization.pug


//-переделать кнопку формы на элемент!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

mixin createFormBooking()

	form.form-booking(action = "/change-me" method = "get")

		+createRoomInfo(888, "люкс", "9 990")

		+createDatedropdown(	{extraInfoTextLeft: "Прибытие", extraInfoTextRight: "Выезд"})

		+createExtraInfo(	{text: "Гости", statusText: ""}	)
		+createDropdown(	{items: dropdownsItems.guests} )

		div.form-booking.form-booking__block
			div.price-detalization 
				+createPriceDetalization("price-detalization")

		div.form-booking.form-booking__button
			+createFormButton("Забронировать", "submit")