.form-booking {

	&__button {
		/*padding-top: 20px;*/
	}	

	&__block {
		display: flex;
		flex-direction: column;
		padding-top: 20px;

		&_type_inline {
			display: inline-flex;
		}
	}
}
