.guests-quantity {
	display: flex;
	flex-direction: column;
	padding-top: 20px;

	&__select-field { 
		display: block; 
		 -moz-appearance: none;
		 -webkit-appearance: none;

		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: $DarkShade75; 

		padding: 8px 15px; 
		padding-right: 20px;
		width: 100%; 
		max-width: 100%; 
		box-sizing: border-box; 
		margin: 0; 
		border: 1px solid $DarkShade25;
		border-radius: 4px;

		background-color: #fff; 
		background-image: url(../img/expand_more.svg);
		background-repeat: no-repeat;
		background-position: right 1.2em top 50%, 0 0;
		background-size: 0.9em;
	}

	&__select-field::-ms-expand {
	 	display: none;
	} 
	
	&__select-field:focus {
	 	outline: none; 
	}

	&__option-field {
	 	font-weight:normal;
	 }
}
