include ../../components/extra-info/extra-info.pug

mixin createFilterDatedropdown(	{extraInfoText}	)

	-	var classname = "filter-date-dropdown"

	div(class=classname)
		+createExtraInfo(	{text: extraInfoText}	)
		input(class = classname + "__input" type='text' name="filter-date-dropdown")
		




