mixin createAnyTag(tag, text, classname)
	- let newTag = "<"+ tag +" class=\""+classname+"\"" + ">"+text+"</"+ tag +">"
	!=newTag


mixin createFontsExample(tag, text)

	//- теги, которые надо будет заменить на p, тк вставлять их в разметку не получится
	- let tagsForChange = ["body", "html", "title"]

	div.fonts-example
		- let changeTag = tag

		each val in tagsForChange
			if changeTag === val 
				-tag = "p"
		-	
			let classes = ["fonts-example__tagname"]
				classes.push("fonts-example__tagname_" + tag)
		
		div(class = classes)= tag==='p' ? changeTag : tag.toUpperCase()
		
		+createAnyTag(tag, text, "fonts-example__tagtext")