mixin createAnyTag(tag, text, classname)
	- let newTag = "<"+ tag +" class=\""+classname+"\"" + ">"+text+"</"+ tag +">"
	!=newTag


mixin createFontsExample(options)

	//- теги, которые надо будет заменить на p, тк вставлять их в разметку не получится
	- let tagsForChange = ["body", "html", "title"]

	div.fonts-example
		- let changeTag = options.tag

		each val in tagsForChange
			if changeTag === val 
				- options.tag = "p"
		-	
			let classes = ["fonts-example__tagname"]
				classes.push("fonts-example__tagname_" + options.tag)
		
		div(class = classes)= options.tag === 'p' ? changeTag : options.tag.toUpperCase()
		
		+createAnyTag(options.tag, options.text, "fonts-example__tagtext")