.link-button {
	display: inline-block;
	border-radius: 22px;
	padding: 2px;

	&__link {
		display: block;

		font-family: Montserrat;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;

		text-transform: uppercase;

		border-radius: 22px;
		padding: 15px 20px;
		position: relative;

			&:after {
				content: '';
				position: absolute;
				top: -2px;
				bottom: -2px;
				left: -2px;
				right: -2px;
				background: linear-gradient(180deg, $Purple 0%, $Purplegradient 100%);
				border-radius: 22px;
				z-index: -1;
			}


		&_theme_basic {
			color: #fff;
			background: transparent;
			padding: 13px 18px;
		}


		&_theme_light {
			color: $Purple;			
			background: #fff;
			margin: 2px;
			padding: 13px 18px;

		}

		&_opacity50 {
			&:after {
				background: linear-gradient(180deg, transparentize($Purple, 0.5) 0%, transparentize($Purplegradient, 0.5) 100%);
			}
		}		

		&_theme_no {
			border-radius: 0;
			padding: 0;
			color: $Purple;

			&:after {
				content: none;
			}
		}

		&_color_gray {
			color: $DarkShade50;
		}
	}
}


