mixin createLinkButton(options)
	- 
		let classes = ["link-button__link"]

	if (options.modifiers) 
		- options.modifiers = options.modifiers.split( " " );
			each modifier in options.modifiers
				- classes.push(`link-button__link_${modifier}`)

	div.link-button
		a(class = classes href = options.href)= options.text

