include ../../components/show-rating/show-rating.pug
include ../../components/slider/slider.pug
include ../../components/room-info/room-info.pug

//- Create list ul> n*(li > div > (div + div) )

mixin createRoomCard(	{sliderData, roomData, ratingData, reviewsData}	)
	
	- var classname = "room-card"

	div(class = classname)

		+createSlider(sliderData.arraySlides, sliderData.needDots, sliderData.needPrevNext)


		div(class = classname + "__data")
			+createRoomInfo(roomData.roomNumber, roomData.roomType, roomData.price, roomData.modifier)

		div(class = classname + "__rating")
			+createShowRating(ratingData.fullStars)

			div(class = classname + "__reviews")= reviewsData.rewiewsQuantity
				span(class = classname + "__reviews") отзывов