mixin createCheckboxButton(arrCheckboxes)

	- var classname = "checkbox-button"

	div(class=classname)

		each item in arrCheckboxes

			div(class = classname + "__item")

				input(class = classname + "__input" type="checkbox" id = item.checkboxId)
				label(class = classname + "__label"  for = item.checkboxId)= item.checkboxText