mixin createCheckboxButton(arrCheckboxes)

	div.checkbox-button

		each item in arrCheckboxes

			div.checkbox-button__item

				input.checkbox-button__input(type="checkbox" id = item.checkboxId)
				label.checkbox-button__label(for = item.checkboxId)= item.checkboxText