.form-enter {

	&__title {
		font-family: Quicksand, Opensans;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
		color: $DarkShade100;
		margin: 0;
	}

	&__text-field {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;

		&_padding_20 {
			padding-top: 20px;
		}
	}

	&__button {
		/*padding-top: 20px;*/
	}


}