mixin createTextField(	{id, name, placeholder, isRequired, isDataMasked, isFocusedHovered}	)
	- var attributes = {};

	-var classname = "text-field";
	-var classes = classname;

	if isDataMasked 
		- classes += " " + classname + "_data-masked "
	if isFocusedHovered 
		- classes += " " + classname + "_focus-hover"

	if id 
		- attributes.id = id;


	- attributes.name = name;
	- attributes.placeholder = placeholder || "";
	- attributes.type = "text";

	input(class = classes required = isRequired)&attributes(attributes)