mixin createSlider(arraySlides, needDots, needPrevNext)

	- 
		let classname = 'slider';
		let classnameJS = ' js-' + classname;

	div(class = classname + classnameJS)
		each i in arraySlides
			div(class = classname + '__item' + classnameJS + '__item')
				img(class = classname + '__picture'  width = '320px' src = i.src  alt = i.alt)

		if (needPrevNext)
			a(class = classname + '__prev' + classnameJS + '__prev') &#10094;
			a(class = classname + '__next' + classnameJS + '__next') &#10095;

		if (needDots)
			div(class = classname + '-dots')
				each i in arraySlides
					span(class = classname + '-dots__item' + classnameJS + '-dots__item')


